@model Clock.Presentation.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<body>*@
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card-login">
            <div class="card-header">
                <h3>Sign In</h3>
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState[string.Empty] != null)
                {
                    @foreach (var error in @ViewData.ModelState[string.Empty]?.Errors)
                    {
                        <span class="text-danger">@error.ErrorMessage</span>
                    }
                }
            </div>
            <div class="card-body">
                <form asp-action="Login" method="post">
                    <div class="form-group">
                        @Html.ValidationMessageFor(l => l.Login, "", new { @class = "text-danger" })
                        @*<span asp-validation-for="Login" class="text-danger"></span>*@
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="Login" type="email" class="form-control" placeholder="E-mail" name="Login" id="Login">
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.ValidationMessageFor(l => l.Password, "", new { @class = "text-danger" })
                        @*<span asp-validation-for="Password" class="text-danger"></span>*@
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" name="Password" Id="Password">
                        </div>
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="/Register">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>

    </div>
</div>








